Cache: Stale-while-revalidate not fully working as intended by RFC5861

## Description

The main benefit of using stale-while-revalidate is that we can issue a cached but stale response while revalidating in the background. This decreases latency at the trade-off of serving potentially outdated data.

Currently, stale-while-revalidate is not implemented this way. Undici cache does not return the cached value during the stale-while-revalidate window immediately, but revalidates synchronously. The only benefit stale-while-revalidate provides at this moment is the reduction in data retrieval and processing when the endpoint replies with a 304 _not modified_.

Although this is acceptable according to [RFC 5861 section 3](https://datatracker.ietf.org/doc/html/rfc5861#section-3), it is quite unoptimal and, in my opinion, unexpected behavior.

## Reproducible By

I've made a small [repo](https://github.com/daan944/undici-stale-while-revalidate) to test this, see test.ts within.

## Expected Behavior

Upon requesting a cached yet stale entry within stale-while-revalidate window, Undici should:
- return the cached yet stale entry immediately
- re-validate the stale entry (and update cache accordingly) in the background
See [RFC 5861 section 3](https://datatracker.ietf.org/doc/html/rfc5861#section-3)

## Environment

Node 24.6.0, Undici 7.15.0, OSX (although I don't think that applies).

### Additional context

I've tried to update [the cache interceptor](https://github.com/daan944/undici/blob/main/lib/interceptor/cache.js#L240) with a bit of code to check whether we're in the stale-while-revalidate window and return the cached result immediately. That seems to work partially: it does return the stale item immediately, it does perform a revalidate request, but it does **not** update the cache if the server responds with new data. I might continue on this later.

I've filed this as a bug, as, in my opinion, this is unexpected behavior.

Thanks for the report! Would you like to consolidate that in a PR?

I would love to, but my implementation is not 100% working yet: it does revalidate asynchronously but does _not_ update the cache when revalidation "fails": when server responds with new data + 200 OK, this new data should be cached instead. And I bet it doesn't work for errors either (unless stale-if-error is configured), but haven't tested that yet.

Also, I won't have the time to continue on this for the upcoming weeks (will be AFK for a bit), and I'm unsure whether my schedule allows it after that. I hope I can make time for it, but can't promise anything.

So if someone has the time and will to look into it, please do! In the meantime it is at least documented in this issue, so anyone encountering this behavior can find it.

No problem at all, if this hasn't been implemented yet once you have ready your proposal, feel free to open the PR. In the meanwhile is open for anyone who will like to give it a try