WebSocket doesn't dispatch `error` event when underlying socket is unexpectedly destroyed

## Bug Description

After a WebSocket connection is established, the `error` event is not dispatched on network failures; only the `close` event is emitted.

## Reproducible By

```javascript
const { WebSocketServer } = require('ws')
const { setGlobalDispatcher, Agent, WebSocket } = require('undici')

let socket
// extract the underlying socket, so we can destroy it later
setGlobalDispatcher(new (class foo extends Agent {
  dispatch(opts, handler) {
    return super.dispatch(opts, {
      ...handler,
      onUpgrade(statusCode, headers, _socket) {
        socket = _socket
        return handler.onUpgrade(statusCode, headers, _socket)
      }
    })
  }
})())

const server = new WebSocketServer({ port: 0 })

const ws = new WebSocket(`ws://localhost:${server.address().port}`)

ws.onopen = () => {
  console.log('open')
  setTimeout(() => {
    console.log('destroying socket')
    socket.destroy(new Error('foo'))
  }, 1000)
}
ws.onerror = () => console.log('error')
ws.onclose = e => console.log('close', e.code)
```

## Expected Behavior

According to [WHATWG WebSockets Standard section 4. Feedback from the protocol](https://websockets.spec.whatwg.org/#feedback-from-the-protocol):

> When the WebSocket connection is closed, possibly cleanly, the user agent must queue a task to run the following substeps:
>    1. Change the ready state to CLOSED (3).
>    2. If the user agent was required to fail the WebSocket connection, or if the WebSocket connection was closed after being flagged as full, fire an event named error at the WebSocket object. [WSP]
>    3. Fire an event named close at the WebSocket object, [...]

Note the `2. If the user agent was required to fail the WebSocket connection, [...], fire an event named error`.

According to [RFC 6455 section 7.1.7. Client-Initiated Closure](https://datatracker.ietf.org/doc/html/rfc6455#section-7.1.7):

>  If at any point the underlying transport layer connection is unexpectedly lost, the client MUST \_Fail the WebSocket Connection_.

A `net.Socket` is destroyed with an `ErrnoException` when the network connection is lost. Therefore, the WebSocket client should fail the connection and dispatch an `error` event.

## Logs & Screenshots

Running the reproduction:

```plaintext
$ node index.js
open
destroying socket
close 1006
```

^ Notice that no `error` message is logged.

I tried this in Firefox: connected to the remote WebSocket and then brought the network interface down. In that case, the `error` listener was called after the connection was lost.

<img width="822" height="605" alt="Image" src="https://github.com/user-attachments/assets/0f5db30f-edf9-49c2-a348-559bdb6074eb" />



const { WebSocketServer } = require('ws')
const { WebSocket } = require('undici')

// Create WebSocket server
const server = new WebSocketServer({ port: 0 })

// Create WebSocket client (undici)
const ws = new WebSocket(`ws://localhost:${server.address().port}`)

ws.onopen = () => {
  console.log('open')

  // Gracefully close after 1s
  setTimeout(() => {
    console.log('closing socket')
    ws.close(1000, 'Normal Closure') // standard WebSocket close code
  }, 1000)
}

ws.onclose = e => {
  console.log('close', e.code, e.reason)
}

ws.onerror = err => {
  console.log('error', err.message)
}


`const { WebSocketServer } = require('ws')
const { WebSocket } = require('undici')

// Create WebSocket server
const server = new WebSocketServer({ port: 0 })

// Create WebSocket client (undici)
const ws = new WebSocket(`ws://localhost:${server.address().port}`)

ws.onopen = () => {
  console.log('open')

  // Gracefully close after 1s
  setTimeout(() => {
    console.log('closing socket')
    ws.close(1000, 'Normal Closure') // standard WebSocket close code
  }, 1000)
}

ws.onclose = e => {
  console.log('close', e.code, e.reason)
}

ws.onerror = err => {
  console.log('error', err.message)
}
`

Thanks for the insight into ws, I meant to ping you but got caught up fixing it and seemingly forgot. On the flip side, Firefox does emit an error event here for both `ws._socket.resetAndDestroy()` and `ws.terminate()`.

> It does not make sense to emit an 'error' event after the initial handshake if the socket is closed cleanly without receiving a close frame.

I agree. It's a very simple fix if we want to change this in the future.

> If this part of the WHATWG spec is implemented, an error is raised every time it is called.

It was implemented already. Is it better to follow Firefox and the spec or follow Chrome? I don't know, in which case following the spec and at least one other implementation makes the most sense.

> In ws, we also have `ws.terminate()`. If this part of the WHATWG spec is implemented, an error is raised every time it is called.

I meant in `ws`. We don't want to emit an error every time `ws.terminate()` is called.

> For example, you call ws.close(), the other peer simply closes the socket without completing the closing handshake. 

I've just run into exactly this problem, where previously working code now throws an error due to this change. In Node `main` (just updated to Undici 7.16.0) a websocket test I'm writing which does pass on v24.8.0 now fails on `main` because the demo WS server we have in the tests closes the connection immediately on receiving a close frame, instead of mirroring it back first ([here](https://github.com/nodejs/node/blob/f6f8eb7c25ed770f613bc435b48a10e15bb9d24c/test/common/websocket-server.js#L43-L50)).

That is not particularly good server behaviour, but the end result for the client is definitely still weird: you call `ws.close()` and then you get an error when the connection is actually closed. Took me quite a while to work out what was happening there.

I think the specification does indeed imply that this is what's supposed to happen, but I suspect there'll be other server implementations that do this too and it might cause some unnecessary pain.

This is just meant as a real-world example to consider (and I'm now fixing Node's test server so this won't be an issue there). I'm still not really sure exactly whether this should change or how to balance strictness either, especially since the standard & Chrome's behaviour disagree.